body {
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: justify;
    text-indent: 1cm; 
    /* text indent untuk membuat paragraf atau indentasi */
    /*line height unutuk mengatur jarak antar baris*/
}
.penutup {
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1cm; 
    font-weight: bold;
    color: tomato;
    text-decoration: none;
    line-height: normal;
    /* untuk simplnya font:oblique normal bold 1cm/normal arial, helvetica, sans-serif
    urutanya terdiri fontstyle fontvariant fontweight fontsize linehieght fontfamily*/
}
.pembuka {
    font-variant: small-caps;
    text-align: center;
    text-decoration: none;
    font-size: 1cm;
    color: black;

    letter-spacing: normal;
    word-spacing: normal;
}

